<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar navbar-expand-lg navbar-dark wywe-navbar sticky-top" th:fragment="navbar">
    <div class="container">

        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="WYWE Logo" class="brand-logo">
            WYWE
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/recipes}">Recipes</a>
                </li>
            </ul>

            <form class="d-flex" role="search" th:action="@{/recipes/search}" method="get">
                <input class="form-control me-2" type="search" name="keyword" placeholder="Search recipes..." aria-label="Search">
            </form>

            <div class="navbar-nav ms-lg-3">
                <a th:href="@{/login}" class="btn btn-outline-light me-2">Log In</a>
                <a th:href="@{/register}" class="btn btn-light wywe-btn-register">Register</a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>